In [1]:
import pandas as pd

In [2]:
#스타벅스 파일 읽어오기
seoul_sb = pd.read_excel('data4/seoul_sb_list.xlsx', header = 0) #header = 0부터 읽어오겠다
seoul_sb.head()

,매장명,위도,경도,주소,매장타입,전화번호
0,역삼아레나빌딩,37.501087,127.043069,서울특별시 강남구 언주로 425 (역삼동),general,1522-3232
1,논현역사거리,37.510178,127.022223,서울특별시 강남구 강남대로 538 (논현동),general,1522-3232
2,신사역성일빌딩,37.514132,127.020563,서울특별시 강남구 강남대로 584 (논현동),general,1522-3232
3,국기원사거리,37.499517,127.031495,서울특별시 강남구 테헤란로 125 (역삼동),general,1522-3232
4,스탈릿대치R,37.494668,127.062583,서울특별시 강남구 남부순환로 2947 (대치동),reserve,1522-3232

In [3]:
#스타벅스 주소에서 시군구명 추출
sgg_name = []
for address in seoul_sb['주소']:
    sgg = address.split()[1] #sgg : 배열, split() : 빈 값으로 나누겠다
    sgg_name.append(sgg)
    
sgg_name

['강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강북구',
 '강북구',
 '강북구',
 '강북구',
 '강북구',
 '강서구',
 '강서구',
 '강서구',
 '강서구',
 '강서구',
 '강서구',
 '강서구',
 '강서구',
 '강서구',
 '강서구',
 '강서구',
 '강서구',
 '강서구',
 '강서구',
 '강서구',
 '강서구',
 '강서구',
 '강서구',
 '강서구',
 '관악구',
 '관악구',
 '관악구',
 '관악구',
 '관악구',
 '관악구',
 '관악구',
 '관악구',
 '관악구',
 '관악구',
 '관악구',
 '광진구',
 '광진구',
 '광진구',
 '광진구',
 '광진구',
 '광진구',
 '광진구',
 '광진구',
 '광진구',
 '광진구',
 '광진구',
 '광진구',
 '광진구',
 '광진구',
 '광진구',
 '광진구',
 '금천구',
 '금천구',
 '금천구',
 '금천구',
 '금천구',
 '금천구',
 '금천구',
 '금천구',
 '금천구',
 '금천구',
 '금천구',
 '노원구',
 '노원구',
 '노원구',
 '노원구',
 '노원구',
 '노원구',
 '노원구',
 '노원구',
 '노원구',
 '노원구',
 '노원구',
 '노원구',
 '도봉구',
 '도봉구',
 '동작구',
 '동작구',
 '동작구',
 '동작구',
 '동작구',
 '동작구',
 '동작구',
 '동작구',
 '동작구',
 '동작구',
 '동작구',
 '마포구',
 '마포구',
 '마포구',
 '마포구',
 '마포구',
 '마포구',
 '마포구',
 '마포구',
 '마포구',
 '마포구',
 '마포구',
 '마포구',
 '마포구',
 '마포구',
 '마포구',
 '마포구',
 '마포구',
 '마포구',
 '마포구',
 '마포구',
 '마포구',
 '마포구',
 '마포구',
 '마포구',
 '마포구',
 '마포구',
 '마포구',
 '마포구',
 '마포구',
 '마포구',
 '마포구',
 '마포구',
 '서대문구',
 '서대문구',
 '서대문구',
 '서대문구',
 '서대문구',
 '서대문구',
 '서대문구',
 '서대문구',
 '서대문구',
 '서대문구',
 '서대문구',
 '서대문구',
 '서대문구',
 '서대문구',
 '서대문구',
 '서대문구',
 '서대문구',
 '서대문구',
 '서대문구',
 '서대문구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '성북구',
 '성북구',
 '성북구',
 '성북구',
 '성북구',
 '성북구',
 '성북구',
 '성북구',
 '성북구',
 '성북구',
 '성북구',
 '성북구',
 '성북구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '양천구',
 '양천구',
 '양천구',
 '양천구',
 '양천구',
 '양천구',
 '양천구',
 '양천구',
 '양천구',
 '양천구',
 '양천구',
 '양천구',
 '양천구',
 '양천구',
 '양천구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '은평구',
 '은평구',
 '은평구',
 '은평구',
 '은평구',
 '은평구',
 '은평구',
 '은평구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '강동구',
 '강동구',
 '강동구',
 '강동구',
 '강동구',
 '강동구',
 '강동구',
 '강동구',
 '강동구',
 '강동구',
 '강동구',
 '강동구',
 '강동구',
 '강동구',
 '강동구',
 '강동구',
 '구로구',
 '구로구',
 '구로구',
 '구로구',
 '구로구',
 '구로구',
 '구로구',
 '구로구',
 '구로구',
 '구로구',
 '구로구',
 '동대문구',
 '동대문구',
 '동대문구',
 '동대문구',
 '동대문구',
 '동대문구',
 '동대문구',
 '동대문구',
 '동대문구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '중랑구',
 '중랑구',
 '중랑구',
 '중랑구',
 '중랑구',
 '중랑구',
 '중랑구',
 '중랑구']

In [4]:
#시군구명 열 생성 및 삽입
seoul_sb['시군구명'] = sgg_name
seoul_sb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   매장명     545 non-null    object
 1   위도      545 non-null    float64
 2   경도      545 non-null    float64
 3   주소      545 non-null    object
 4   매장타입    545 non-null    object
 5   전화번호    545 non-null    object
 6   시군구명    545 non-null    object
dtypes: float64(2), object(5)
memory usage: 29.9+ KB

In [12]:
#엑셀로 저장
seoul_sb.to_excel('data4/seoul_starbucks_list.xlsx', index = False)

In [5]:
#시군구 목록 읽어오기
seoul_sgg = pd.read_excel('data4/seoul_sgg_list.xlsx')
seoul_sgg.head()

   시군구코드  시군구명         위도          경도
0  11320   도봉구  37.665861  127.031767
1  11380   은평구  37.617612  126.922700
2  11230  동대문구  37.583801  127.050700
3  11590   동작구  37.496504  126.944307
4  11545   금천구  37.460097  126.900155

In [6]:
#서울시 스타벅스 매장 목록 데이터 불러오기
seoul_starbucks = pd.read_excel('data4/seoul_starbucks_list.xlsx')
seoul_starbucks.head()

,매장명,위도,경도,주소,매장타입,전화번호,시군구명
0,역삼아레나빌딩,37.501087,127.043069,서울특별시 강남구 언주로 425 (역삼동),general,1522-3232,강남구
1,논현역사거리,37.510178,127.022223,서울특별시 강남구 강남대로 538 (논현동),general,1522-3232,강남구
2,신사역성일빌딩,37.514132,127.020563,서울특별시 강남구 강남대로 584 (논현동),general,1522-3232,강남구
3,국기원사거리,37.499517,127.031495,서울특별시 강남구 테헤란로 125 (역삼동),general,1522-3232,강남구
4,스탈릿대치R,37.494668,127.062583,서울특별시 강남구 남부순환로 2947 (대치동),reserve,1522-3232,강남구

In [9]:
#시군구별 스타벅스 매장 수 세기
#index는 시군구명으로 매장명을 보여줄 건데, count라는 통계량으로 보여주겠다
starbucks_sgg_count = seoul_starbucks.pivot_table(
                                                  index = '시군구명',
                                                  values = '매장명',
                                                  aggfunc = 'count',
                                                  ).rename(columns = {'매장명':'스타벅스_매장수'})
starbucks_sgg_count.head()

      스타벅스_매장수
시군구명
강남구         84
강동구         16
강북구          5
강서구         19
관악구         11

In [10]:
#서울시 시군구 목록 데이터에 스타벅스 매장 수 데이터 병합
#왼쪽을 기준으로 병합하고, 둘다 갖고 있는 시군구명을 기준으로 병합하겠다
seoul_sgg = pd.merge(seoul_sgg, starbucks_sgg_count, how = 'left', on = '시군구명')
seoul_sgg.head()

   시군구코드  시군구명         위도          경도  스타벅스_매장수
0  11320   도봉구  37.665861  127.031767         2
1  11380   은평구  37.617612  126.922700         8
2  11230  동대문구  37.583801  127.050700         9
3  11590   동작구  37.496504  126.944307        11
4  11545   금천구  37.460097  126.900155        11

In [12]:
#서울시 시군구별 인구통계 데이터 불러오기
seoul_sgg_pop = pd.read_excel('data4/sgg_pop.xlsx')
seoul_sgg_pop.head()

  시군구명   주민등록인구
0  종로구  158,996
1   중구  134,635
2  용산구  244,645
3  성동구  300,505
4  광진구  360,109

In [13]:
#서울시 시군구 목록 데이터에 서울시 시군구별 인구통계 데이터를 병합
seoul_sgg = pd.merge(seoul_sgg, seoul_sgg_pop, how = 'left', on = '시군구명')
seoul_sgg.head()

   시군구코드  시군구명         위도          경도  스타벅스_매장수   주민등록인구
0  11320   도봉구  37.665861  127.031767         2  327,361
1  11380   은평구  37.617612  126.922700         8  484,043
2  11230  동대문구  37.583801  127.050700         9  357,014
3  11590   동작구  37.496504  126.944307        11  401,572
4  11545   금천구  37.460097  126.900155        11  247,835

In [14]:
#서울시 시군구 목록 데이터에 서울시 시군구별 사업체 수 통계 데이터를 병합
seoul_sgg_biz = pd.read_excel('data4/sgg_biz.xlsx')
seoul_sgg = pd.merge(seoul_sgg, seoul_sgg_biz, how = 'left', on = '시군구명')
seoul_sgg.head()

   시군구코드  시군구명         위도          경도  스타벅스_매장수   주민등록인구    사업체수     종사자수
0  11320   도봉구  37.665861  127.031767         2  327,361  18,628   72,939
1  11380   은평구  37.617612  126.922700         8  484,043  24,681   93,631
2  11230  동대문구  37.583801  127.050700         9  357,014  31,324  138,400
3  11590   동작구  37.496504  126.944307        11  401,572  19,793  106,159
4  11545   금천구  37.460097  126.900155        11  247,835  33,814  242,686

In [15]:
#병합 결과를 엑셀파일로 저장
seoul_sgg.to_excel('data4/seoul_sb_final.xlsx', index = False)