In [2]:
import os

In [13]:
import sys

In [14]:
sys.path

['/home/encore/workspace',
 '/home/encore/miniconda3/lib/python38.zip',
 '/home/encore/miniconda3/lib/python3.8',
 '/home/encore/miniconda3/lib/python3.8/lib-dynload',
 '',
 '/home/encore/miniconda3/lib/python3.8/site-packages',
 '/home/encore/miniconda3/lib/python3.8/site-packages/IPython/extensions',
 '/home/encore/.ipython']

In [19]:
name, birth, gender = "강가연_19961123_3xxxxxx.txt".split("_")

In [20]:
name

'강가연'

In [21]:
birth

'19961123'

In [28]:
gender

'4xxxxxx.txt'

In [29]:
names = []
births = []
genders = []
money = []
for roots, dirs, files in os.walk("./data"):
    for file in files:
        name, birth, gender = file.split("_")
        if gender.split(".")[-1] != "txt": continue
        names.append(name)
        births.append(birth)
        genders.append(gender[0])
        with open(roots + "/" + file, "r") as f:
            money.append(f.read())

In [26]:
import pandas as pd

In [33]:
df = pd.DataFrame({"이름" : names, "생년월일" : births, '성별' : genders , '금액' : money})

In [50]:
from datetime import date, datetime, timedelta

In [44]:
a = datetime.strptime("20210510", "%Y%m%d")

In [51]:
a + timedelta(days=100)

datetime.datetime(2021, 8, 18, 0, 0)

In [38]:
df['생년월일'] = df['생년월일'].apply(lambda x : datetime.strptime(x, "%Y%m%d"))

In [53]:
df['생년월일'].apply(lambda x : x + timedelta(days=100) )

0      1997-03-03
1      1971-06-12
2      1960-12-31
3      1975-09-19
4      1995-09-22
          ...
9995   1965-05-09
9996   1998-07-01
9997   1968-09-25
9998   1994-06-11
9999   1970-06-28
Name: 생년월일, Length: 10000, dtype: datetime64[ns]

In [59]:
df['성별'] = df['성별'].apply(lambda x : '남' if x in ['1', '3'] else '여')

In [63]:
df['금액'] = df['금액'].apply(lambda x : int(x.replace(",", "")))

In [71]:
df['생년월일'][0].year

1996

In [72]:
def ages(x):
    age = 2021 - x.year + 1
    if age <=20:
        return '10대'
    elif age > 20 and age <= 30:
        return '20대'
    elif age > 30 and age <= 40:
        return '30대'
    elif age > 40 and age <= 50:
        return '40대'
    else:
        return '50대'

In [74]:
df['연령대'] = df['생년월일'].apply(lambda x : ages(x))

In [77]:
pd.set_option('display.float_format', lambda x: '%.1f' % x)

In [78]:
df.groupby("연령대")['금액'].mean()

연령대
20대   11162347.0
30대   12753210.8
40대   12864653.2
50대   12307138.5
Name: 금액, dtype: float64