In [1]:
print('jupyter notebook 출력')

jupyter notebook 출력

In [2]:
 #True, False 첫자는 대문자
 sw = True 
 print("sw")
 print(sw)
 
 sw = False
 print(sw)

sw
True
False

In [4]:
#정수형 자료
int_data = 10
bin_data = 0b10
oct_data = 0o10
hex_data = 0x10
long_data = 12345678901234567891234567890123456789
print(int_data)
print(bin_data)
print(oct_data)
print(hex_data)
print(long_data)

10
2
8
16
12345678901234567891234567890123456789

In [7]:
print("sw=" + str(sw))

sw=False

In [8]:
print("sw=", sw)

sw= False

In [9]:
print("sw=%s" %sw)

sw=False

In [10]:
print("sw=%10s" %sw)

sw=     False

In [11]:
print('sw=%-10s' %sw)

sw=False

In [12]:
print('sw=%d' %2021)

sw=2021

In [13]:
print("sw=%f" %10.554)

sw=10.554000

In [14]:
print("sw=%.3f" %10.551)

sw=10.551

In [15]:
char = 'A'
print('char=' + char)
 
movie='부산행'
print('movie=' + movie)
 
count = 7500000
print('count=', count)
 
percent = 1.25
print('percent: ' + str(percent))
print('percent:',percent)

char=A
movie=부산행
count= 7500000
percent: 1.25
percent: 1.25

In [16]:
print('100의 100%: ' + str(100 * 1.0))
print('100의 50%: ' + str(100 * 0.5))
print('100의 50%: ' + str(100 * (50/100))) # (50/100) -> 0.5
print('100의 10%: ' + str(100 * 0.1))
print('100의 1%: ' + str(100 * 0.01))
print('100의 1.5%: ' + str(100 * 0.015))
print('100의 1.5%: ' + str(100 * (1.5/100))) # 100 * 0.015
print('100의 13%: ' + str(100 * (13/100)))  # 100 * 0.13
print('100의 13%:', (100 * (13/100)))

100의 100%: 100.0
100의 50%: 50.0
100의 50%: 50.0
100의 10%: 10.0
100의 1%: 1.0
100의 1.5%: 1.5
100의 1.5%: 1.5
100의 13%: 13.0
100의 13%: 13.0

In [17]:
c1 = 1+7j
print(c1.real) #실수부
print(c1.imag) #허수부
c2 = complex(2, 3)
print(c2)

1.0
7.0
(2+3j)

In [18]:
print(10 - 6)
 
print(9 * 7)
 
print(36 // 5)  #정수형 결과
 
print(36 / 5) #실수형 결과

print(36 / 5)
 
# 나머지를 반환하는 
print(36 % 5)
 
# 5의 제곱 
print(5**2)
 
# 100의 제곱
print(100**2)

4
63
7
7.2
7.2
1
25
10000

In [19]:
a = 2
b = 4
ret1 = a+b
ret2 = a - b
ret3 = a*b         
ret4 = a/b         
ret5 = a**b        
ret6 = a+a*b/a     #*->/->+->-
ret7 = (a+b)*(a-b)  #()
ret8 = a*b**a   
print (ret1)
print (ret2)
print (ret3)
print (ret4)
print (ret5)
print (ret6)
print (ret7)
print (ret8)

6
-2
8
0.5
16
6.0
-12
32

In [20]:
print("0 % 3 = " + str(0 % 3))
print("1 % 3 = " + str(1 % 3))
print("2 % 3 = " + str(2 % 3))
print("3 % 3 = " + str(3 % 3))
print("4 % 3 = " + str(4 % 3))
print("5 % 3 = " + str(5 % 3))
 
year = 2015
print("1)" + str(year) + " 년")
 
year = year + 1
print("2)" + str(year) + " 년")
 
year = year + 1
print("3)" + str(year) + " 년")
 
year += 1
print("4)" + str(year) + " 년")
 
year -= 1
print("5)" + str(year) + " 년")
 
val = 55.567
print("최초의 값 val: " + str(val))
 
val = val * 100
print("val: " + str(val))
 
val = int(val)  #정수형으로 변환(정수만가져옴)
val = val / 100
print("val: " + str(val))
 
print("2 ** 3: " + str(2 ** 3))

0 % 3 = 0
1 % 3 = 1
2 % 3 = 2
3 % 3 = 0
4 % 3 = 1
5 % 3 = 2
1)2015 년
2)2016 년
3)2017 년
4)2018 년
5)2017 년
최초의 값 val: 55.567
val: 5556.7
val: 55.56
2 ** 3: 8

In [23]:
#수학내장함수

# 9의 절대값
print(abs(9))
 
# -9의 절대값
print(abs(-9))
 
# 8을 4로 나눈 몫과 나머지로 이루어진 튜플
print(divmod(8,4))
 
print(divmod(8,2))
 
# 8의 제곱을 구함
print(pow(8,2))
 
# 8의 제곱을 3으로 나눈 나머지  ((8 **2) % 3)
print(pow(8,2,3))
 
# 반올림을 수행
print(round(5.67,1))
 
print(round(5.67))

9
9
(2, 0)
(4, 0)
64
1
5.7
6

In [25]:
# True(참,1)와 False(거짓,0)
# 비교연산자
a = True
b = False
print(a == 1)       # True가 출력됨
print(b != 0)        # False가 출력됨
 
print(8 > 10)
print(256 < 725)
print(10 == 10)

True
False
False
True
True

In [26]:
# 식 내에서 비교
x = 2*8
y = 2
while x != y:
      print ('Doing some work...')
      y = y + 2

Doing some work...
Doing some work...
Doing some work...
Doing some work...
Doing some work...
Doing some work...
Doing some work...
False
True

In [27]:
# 삼항 비교
print(3<2<3)
print(3<4<8)

False
True

In [28]:
x = 1; y = 2
str1 = 'abc'; str2 = 'python'
print(x == y)  # False가 출력됨
print(x != y)   # True가 출력됨
print(str1 == str2)   # False가 출력됨
print(str2 == 'python')   # True가 출력됨
print(str1 < str2)        # True가 출력됨

False
True
False
True
True

In [32]:
#비트연산자

print(14 & 27)
 
print(14 | 27)
 
print(14 ^ 27)
 
print(~14)
 
print(~27)

10
31
21
-15
-28

In [33]:
#이동연산자
print(3<<1)
 
# 3*2*2와 동등함
print(3<<2)
 
# 3*2*2*2*2*2와 동등함
print(3<<5)
 
# 오른쪽으로 이동
# 3/2와 동등함
print(3>>1)
 
# 9/2와 동등함
print(9>>1)
 
# 10/2와 동등함
print(10>>1)
 
# 10/2/2와 동등함
print(10>>2)

6
12
96
1
4
5
2

In [35]:
x = 5  
print(x)
 
# x의 값에 1을 더하여 그 값을 x에 할당
x+=1
print(x)
 
# x의 값에 5를 곱하여 그 값을 x에 할당
x*=5
print(x)

5
6
30