In [3]:
strdata = 'Time is money!!'
print(strdata[5])
print(strdata[-2])

i
!

In [7]:
print(strdata[-1])
strdata[0]

!

'T'

In [12]:
listdata = [1,2,[1,2,3]]
print(listdata[0])

1

In [13]:
listdata[-1]

[1, 2, 3]

In [14]:
listdata[2][-1]

3

In [22]:
strdata[1:5]

'ime '

In [23]:
strdata[:7]

'Time is'

In [24]:
strdata[9:]

'oney!!'

In [25]:
strdata[:-3]

'Time is mone'

In [27]:
strdata[-3:]

'y!!'

In [28]:
strdata[:]

'Time is money!!'

In [29]:
strdata[::2]

'Tm smny!'

In [30]:
strdata1 = 'I love '; strdata2 = 'Python'; strdata3 = 'you'
print(strdata1 + strdata2)     # ‘I love Python’이 출력됨
print(strdata1 + strdata3)     # ‘I love you’가 출력됨

listdata1 = [1, 2, 3]; listdata2 = [4, 5, 6]
print(listdata1 + listdata2)    # [1, 2, 3, 4, 5, 6]이 출력됨

I love Python
I love you
[1, 2, 3, 4, 5, 6]

In [33]:
artist = '빅뱅'
sing = '뱅~'
dispdata = artist + '이 부르는 ' + sing*3
dispdata

'빅뱅이 부르는 뱅~뱅~뱅~'

In [46]:
strdata1 = 'I love python'
strdata2 = '나는 파이썬을 사랑합니다'
listdata = ['a', 'b', 'c', strdata1, strdata2]
len(strdata1)

13

In [37]:
len(strdata2)

13

In [38]:
len(listdata)

5

In [39]:
len(listdata[3])

13

In [40]:
print(listdata[3])

I love python

In [41]:
listdata =[1, 2, 3, 4]
5 in listdata

False

In [42]:
4 in listdata

True

In [44]:
strdata = 'abcde'
'c' in strdata

True

In [45]:
'l' in strdata

False

In [47]:
'안녕하세요'

'안녕하세요'

In [48]:
"안녕하세요"

'안녕하세요'

In [51]:
print('''
안녕하세요
반갑습니다
다시봅시다
''')

안녕하세요
반갑습니다
다시봅시다

In [52]:
'''
안녕하세요
반갑습니다
다시봅시다
'''

'\n안녕하세요\n반갑습니다\n다시봅시다\n'

In [57]:
print('안녕하세요\n'
      '반갑습니다\n'
      '다시봅시다\n')

안녕하세요
반갑습니다
다시봅시다

In [58]:
'안녕하세요Wn'
'반갑습니다Wn'
'다시봅시다Wn'

'다시봅시다Wn'

In [59]:
print('안녕하세요 "홍길동" 입니다.')

안녕하세요 "홍길동" 입니다.

In [60]:
print("안녕하세요 '홍길동' 입니다. ")

안녕하세요 '홍길동' 입니다.

In [61]:
print("안녕하세요 \"홍길동\" 입니다.")

안녕하세요 "홍길동" 입니다.

In [62]:
print('안녕하세요 \'홍길동\' 입니다.')

안녕하세요 '홍길동' 입니다.

In [63]:
# 문자열 메소드 사용하기
our_string='python is the best language ever'

# 문자열의 첫 글자를 대문자로
print(our_string.capitalize())

# 가운데 정렬
print(our_string.center(50))
print(our_string.center(50,'-'))

# 문자열 내에서 부분문자열 세기
print(our_string.count('a'))

# 부분문자열 발생 횟수 세기
state = 'Mississippi'
print(state.count('ss'))

Python is the best language ever
         python is the best language ever
---------python is the best language ever---------
2
2

In [64]:
# 문자열을 분할(partition)하면, 분리자의 앞 부분, 분리자,
# 그리고, 그 분리자의뒷 부분의 세 원소로 이루어진 튜플을 반환
x = "Hello, my name is Josh"
print(x.partition('n'))

# 위와 똑같은 x가 있다고 할 때,
# 'l'을 분리자로 하여 문자열을 쪼개기(split)
print(x.split('l'))

# 보는 바와 같이 분리자는 반환되는 목록에 포함되지 않는다.
# maxsplits 값을 1로 하여 추가하게 되면, 가장 왼쪽부터 쪼개기가 이루어진다.
# maxsplits 값을 2로 주면, 가장 왼쪽 두 개의 쪼개기가 이루어진다.
print(x.split('l',1))
print(x.split('l',2))

('Hello, my\xa0', 'n', 'ame is Josh')
['He', '', 'o, my\xa0name is Josh']
['He', 'lo, my\xa0name is Josh']
['He', '', 'o, my\xa0name is Josh']

In [67]:
txt1 = '자바';txt2='파이썬'
num1= 5; num2=10

print('나는 %s보다 %s에 더 익숙합니다.' %(txt1, txt2))
print('%s은 %s보다 %d배 더 쉽습니다.' %(txt2, txt1, num1))
print('%d + %d = %d' %(num1, num2, num1+num2))
print('작년 세계 경제 성장률은 전년에 비해 %d%% 포인트 증가했다.' %num1)

# 전체 자리수.소수 자리수f, 전체 자리수에 소수 자리수가 포함됨, 반올림 안됨
no3 = 12.35
print('%3.2f%%' % no3)
print('%5.2f%%' % no3)
print('%5.1f%%' % no3)

나는 자바보다 파이썬에 더 익숙합니다.
파이썬은 자바보다 5배 더 쉽습니다.
5 + 10 = 15
작년 세계 경제 성장률은 전년에 비해 5% 포인트 증가했다.
12.35%
12.35%
 12.3%

In [5]:
from time import sleep

for i in range(100):
    msg = "\r진행률 %2d%%" %(100-i-1)
    print(msg, end='')
    sleep(0.1) # 0.1초동안 중지됨
    
for i in range(100):
    msg = "\r진행률 %2d%%" %(0+i+1)
    print(msg, end='')
    sleep(0.1)

진행률 100%

In [1]:
print('이 문장은 화면폭에 비해 너무 길어 보기가 힘듭니다. \
그래서 \\Enter키를 이용해 문장을 다음줄과 연속되도록 했습니다.')

이 문장은 화면폭에 비해 너무 길어 보기가 힘듭니다. 그래서 \Enter키를 이용해 문장을 다음줄과 연속되도록 했습니다.

In [6]:
print('''이 문장은 화면폭에 비해 너무 길어 보기가 힘듭니다. 
그래서 \\Enter키를 이용해 문장을 다음줄과 연속되도록 했습니다.''')

이 문장은 화면폭에 비해 너무 길어 보기가 힘듭니다.
그래서 \Enter키를 이용해 문장을 다음줄과 연속되도록 했습니다.

In [8]:
print('나는 파이썬을 사랑합니다.\n파이썬은 자바보다 훨씬 쉽습니다.')
print('Name: John Smith\tgender: Male\tAge: 22')
print('작은따옴표(\')와 큰 따옴표(")는 문자열을 정의할 때 사용합니다.')

나는 파이썬을 사랑합니다.
파이썬은 자바보다 훨씬 쉽습니다.
Name: John Smith	gender: Male	Age: 22
작은따옴표(')와 큰 따옴표(")는 문자열을 정의할 때 사용합니다.

In [13]:
msg = input('임의의 문장을 입력하세요:')

임의의 문장을 입력하세요:My name is

In [14]:
if 'is' in msg:
    print('당신이 입력한 문장에는 is가 있습니다.')
else:
    print('당신이 입력한 문장에는 is가 없습니다.')

당신이 입력한 문장에는 is가 있습니다.

In [15]:
txt = 'A lot of things occur each day, every day.'

In [16]:
print(txt.count('o'))

3

In [17]:
print(txt.count('day'))

2

In [19]:
print(txt.count(' '))

8

In [20]:
txt1 = 'A'
txt2 = '안녕'
txt3 = 'Warcraft Three'
txt4 = '3PO'

In [23]:
print(txt1.isalpha())

True

In [25]:
print(txt2.isalpha())

True

In [26]:
print(txt3.isalpha())

False

In [27]:
txt1 = '010-1234-5678'
txt2 = 'R2D2'
txt3 = '1212'

In [29]:
print(txt1.isdigit())

False

In [30]:
print(txt2.isdigit())

False

In [31]:
print(txt3.isdigit())

True

In [32]:
txt1 = '안녕하세요?'
txt2 = '1. Title-제목을 넣으세요'
txt3 = '3피오R2D2'

In [34]:
txt1.isalpha()

False

In [35]:
txt2.isalnum()

False

In [36]:
txt3.isalnum()

True

In [37]:
txt = 'A lot of Things occur each day.'

In [38]:
txt.upper()

'A LOT OF THINGS OCCUR EACH DAY.'

In [39]:
txt.lower()

'a lot of things occur each day.'

In [40]:
txt = '   양쪽에 공백이 있는 문자열입니다.   '

In [41]:
print('<'+txt+'>')

<   양쪽에 공백이 있는 문자열입니다.   >

In [42]:
print('<'+txt.lstrip()+'>')

<양쪽에 공백이 있는 문자열입니다.   >

In [44]:
print('<'+txt.rstrip()+'>')

<   양쪽에 공백이 있는 문자열입니다.>

In [45]:
print('<'+txt.strip()+'>')

<양쪽에 공백이 있는 문자열입니다.>

In [55]:
a='Beautiful, is; better*than\nugly'
import re
re.split(';|,|\*|\n',a)

['Beautiful', ' is', ' better', 'than', 'ugly']

In [56]:
url = 'http://www.naver.com/news/today=20160831'
log = 'name:홍길동 age:17 gender:남자 nation:한국'

In [61]:
print(url.split('/',2))

['http:', '', 'www.naver.com/news/today=20160831']

In [62]:
ret2 = log.split()

for data in ret2:
    d1,d2 = data.split(':')
    print('%s -> %s'%(d1,d2))

name -> 홍길동
age -> 17
gender -> 남자
nation -> 한국

In [63]:
loglist = ['2016/08/26 10:12:11', '200', 'OK', '이 또한 지나가리라']
bond = ';'

In [64]:
log = bond.join(loglist)
print(log)

2016/08/26 10:12:11;200;OK;이 또한 지나가리라

In [88]:
# 정수가 나타내는 문자를 반환
print(chr(4))
 
print(chr(10))

 
# 정수를 부동소수점수로 변환
print(float(8))
 
 
# 문자를 나타내는 정수 값으로 변환
print(ord('A'))
 
print(ord('C'))
 
print(ord('z'))




8.0
65
67
122

In [76]:
numstr = input('숫자를 입력하세요.')

숫자를 입력하세요..03

In [83]:
try:
    num = int(numstr)
    print('당신이 입력한 숫자는 정수 <%d>입니다.' %num)
except:
    try:
        num = float(numstr)
        print('당신이 입력한 숫자는 실수 <%f>입니다.' %num)
    except:
        print('+++ 숫자를 입력하세요 +++')

당신이 입력한 숫자는 실수 <0.030000>입니다.

In [84]:
num1 = 1234
num2 = 3.14

In [91]:
numstr1 = str(num1)
numstr2 = str(num2)

In [93]:
print('num1을 문자열로 변환한 값은 "%s"입니다.' %numstr1)
print('num2를 문자열로 변환한 값은 "%s"입니다.' %numstr2)

num1을 문자열로 변환한 값은 "1234"입니다.
num2를 문자열로 변환한 값은 "3.14"입니다.