In [1]:
def add_number(n1,n2):
    ret = n1 + n2
    return ret

In [3]:
def add_txt(t1,t2):
    print(t1 + t2)

In [4]:
ans = add_number(10, 15)
print(ans)

25

In [5]:
add_txt('대한민국', '만세')

대한민국만세

In [6]:
def abs(number): #number : 매개변수
    if number < 0:
        number = -number
    return number

In [7]:
abs(-2) #-2 : 인자값

2

In [8]:
abs(10)

10

In [9]:
temp = abs(-9)/3 * abs(20) +3 +abs(-19)
temp

82.0

In [10]:
def hap(a,b):
    result = a + b
    print('두 수의 합을 구해 출력하는 함수입니다')
    print(a, b, '의 합은', result, '입니다')

In [11]:
hap(10, 20)

두 수의 합을 구해 출력하는 함수입니다
10 20 의 합은 30 입니다

In [12]:
hap(-87, 172)

두 수의 합을 구해 출력하는 함수입니다
-87 172 의 합은 85 입니다

In [14]:
print(type(hap)) #type : type을 알려주는 함수

<class 'function'>

In [16]:
import types
type(hap) == types.FunctionType

True

In [17]:
types.FunctionType.__name__ #클래스 안에 정의 된 변수 이름을 출력

'function'

In [18]:
isinstance(hap, types.FunctionType)

True

In [41]:
def changestr(mystr): #mystr : 매개변수
    print(id(mystr)) #이곳의 mystr과 아래 mystr은 다름
    mystr = mystr + '_changed' #왼쪽 mystr은 출력 후 사라지는 지역변수
    print("The string inside the function: {}".format(mystr))
    print(id(mystr))
    return mystr

In [42]:
mystr = 'hello'
print(id(mystr))
mystr = changestr(mystr) #참조값

2527618474096
2527618474096
The string inside the function: hello_changed
2527670172720

In [43]:
mystr

'hello_changed'

In [44]:
def perform_calc(value1, value2, func):
    return func(value1, value2)

In [45]:
def mult_values(value1, value2):
    return value1 * value2

In [46]:
perform_calc(2,4,mult_values)

8

In [47]:
def add_value(value1, value2):
    return value1 + value2

In [48]:
perform_calc(2, 4, add_value)

6

In [49]:
def report(message, who = 'Everyone'):
    print(message, who)

In [50]:
report('good morning')

good morning Everyone

In [59]:
report('good morning', 'Mr.Park')

good morning Mr.Park

In [52]:
def func(a, b):
    print(a, b, sep = '-')

In [53]:
func('py', 'thon') #위치로 매핑

py-thon

In [77]:
func(b = 'thon', a = 'py') #키워드로 매핑

py-thon

In [57]:
func(a = 'py', 'thon') #문법상 위치매핑 인자가 먼저 선언되어야 하는데, 키워드 매핑기반 인자가 먼저 선언되어 나는 오류

SyntaxError: positional argument follows keyword argument (<ipython-input-57-d8fc31accf4c>, line 1)

In [58]:
func('py', b = 'thon') #위치매핑 인자가 먼저 선언되어서 오류가 나지 않음

py-thon

In [65]:
def print_personnel(name, position = 'staff', nationality = "Korea"):
    print("name = {}".format(name))
    print("position = {}".format(position))
    print("nationality = {}".format(nationality))

In [66]:
print_personnel('박길동')

name = 박길동
position = staff
nationality = Korea

In [68]:
print_personnel(nationality = 'ROK', name = '이길동')

name = 이길동
position = staff
nationality = ROK

In [69]:
print_personnel(position = '인턴', name = '김길동')

name = 김길동
position = 인턴
nationality = Korea

In [70]:
def select_even(*arg): # *으로 시작되는 것들은 튜플 인자를 받는다 (여러개의 인자를 받을 수 있다)
    result=[]
    for num in arg:
        if num%2 == 1:
            continue
        result.append(num)
    return result

In [74]:
select_even(1,2,3,4,5)

[2, 4]

In [75]:
select_even(-12, 2, 81, 99, 48, 20)

[-12, 2, 48, 20]

In [76]:
select_even()

[]

In [1]:
#함수의 리턴
def turnNone(value):
    x = value

In [2]:
print(turnNone(10)) #리턴되는 게 없음

None

In [3]:
def turnValue(value):
    x = value * 10
    return x

In [4]:
print(turnValue(10))

100

In [5]:
def turnSet(value):
    x = {value, value + 1, value + 2}
    return x

In [7]:
print(turnSet(10))

{10, 11, 12}

In [8]:
def turnTuple(value):
    return value, value-1, value-2 #괄호가 생략된 튜플

In [9]:
print(turnTuple(10))

(10, 9, 8)

In [10]:
def print_odd(start, end):
    '''주어진 범위에서 홀수를 리스트로 만들어주는 함수입니다.
    start : 시작 값을 지정합니다.
    end : 끝 값을 지정합니다'''
    result = []
    for num in range(start, end+1): #end + 1 : end까지 포함하여 추출하기 위해
        if num % 2 == 0:
            continue
        result.append(num)
    return result

In [11]:
help(print_odd)

Help on function print_odd in module __main__:

print_odd(start, end)
    주어진 범위에서 홀수를 리스트로 만들어주는 함수입니다.
    start : 시작 값을 지정합니다.
    end : 끝 값을 지정합니다

In [12]:
print('-' * 50)

--------------------------------------------------

In [17]:
print_odd.__doc__ = '''이건 연습삼아'''

In [18]:
help(print_odd)

Help on function print_odd in module __main__:

print_odd(start, end)
    이건 연습삼아

In [19]:
print_odd(1,10)

[1, 3, 5, 7, 9]