In [1]:
# 목록을 포함하는 목록을 한 줄로 정의
my_new_list = ['new_item1', 'new_item2', [1, 2, 3, 4], 'new_item3']
print (my_new_list)

['new_item1', 'new_item2', [1, 2, 3, 4], 'new_item3']

In [2]:
my_new_list[0]

'new_item1'

In [4]:
my_new_list[2]

[1, 2, 3, 4]

In [5]:
my_new_list[-1]

'new_item3'

In [7]:
my_new_list[-2]

[1, 2, 3, 4]

In [8]:
my_new_list[0:2]

['new_item1', 'new_item2']

In [9]:
my_string_list_copy = my_new_list[:]
my_string_list_copy

['new_item1', 'new_item2', [1, 2, 3, 4], 'new_item3']

In [10]:
# 새로운 리스트생성
new_list=[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [12]:
new_list[0:10:1]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [13]:
new_list[0:10:2]

[2, 6, 10, 14, 18]

In [15]:
new_list[::2]

[2, 6, 10, 14, 18]

In [16]:
new_list[9] = 25
new_list

[2, 4, 6, 8, 10, 12, 14, 16, 18, 25]

In [17]:
new_list=['a','b','c','d','e','f','g']

In [18]:
new_list.append('h')
new_list

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [19]:
new_list2=['h','i','j','k','l','m','n','o','p']

In [29]:
new_list.append(new_list2)
print(new_list)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', ['h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p']]

In [32]:
new_list.insert(2,'c')
print(new_list)

['a', 'b', 'c', 'c', 'c', 'd', 'e', 'f', 'g', 'h', ['h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p']]

In [35]:
another_list = ['a', 'b', 'c']
another_list.insert(2, new_list)
print(another_list)

['a', 'b', ['a', 'b', 'c', 'c', 'c', 'd', 'e', 'f', 'g', 'h', ['h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p']], 'c']

In [51]:
new_listA=[100,200,300,400]
new_listB=[500,600,700,800]

In [52]:
new_listA[0:2] = new_listB
print(new_listA)

[500, 600, 700, 800, 300, 400]

In [39]:
one = ['a', 'b', 'c', 'd']
two = ['e', 'f']
print(one)
print(two)

['a', 'b', 'c', 'd']
['e', 'f']

In [40]:
print(one[2:2])

[]

In [53]:
one[2:2] = two
print(one)

['a', 'b', 'e', 'f', 'c', 'd']

In [55]:
new_list3 = ['a','b','c','d','e','f']
del new_list3[2]

In [56]:
print(new_list3)

['a', 'b', 'd', 'e', 'f']

In [57]:
del new_list3[1:3]
print(new_list3)

['a', 'e', 'f']

In [58]:
del new_list3
new_list3

NameError: name 'new_list3' is not defined

In [59]:
new_list=['a','b','c','d','e','f','g']

In [60]:
new_list

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [61]:
print(new_list.pop(2))
print(new_list)

c
['a', 'b', 'd', 'e', 'f', 'g']

In [62]:
new_list.remove('g')
new_list

['a', 'b', 'd', 'e', 'f']

In [64]:
x = 5
times_list = [1,2,3,4,5]
while times_list:
    print (x * times_list.pop(0))

5
10
15
20
25

In [65]:
print(times_list)

[]

In [66]:
# 어떤 주어진 값에 대한 인덱스를 반환
new_list=[1,2,3,4,5,6,7,8,9,10]
print(new_list.index(4)) #인덱스 값을 리턴 (list의 값이 4인 것의 인덱스 값)

3

In [70]:
new_list.append(6)
print(new_list)

print(new_list.index(6))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 6, 6, 6, 6]
5

In [75]:
new_list.sort()
new_list

[1, 2, 3, 4, 5, 6, 6, 7, 8, 9, 10]

In [77]:
new_list.reverse()
new_list

[10, 9, 8, 7, 6, 6, 5, 4, 3, 2, 1]

In [78]:
list1 = [1, 2, 3, 4, 5]

list2 = ['a', 'b', 'c']

list3 = [1, 'a', 'abc', [1, 2, 3, 4, 5], ['a', 'b', 'c']]

list1[0] = 6

print(list1)      # [6, 2, 3, 4, 5]가 출력됨

[6, 2, 3, 4, 5]

In [79]:
def myfunc():
    print('안녕하세요')

In [80]:
list4 = [1,2, myfunc]
list4[2]()

안녕하세요

In [81]:
#튜플 생성
t2 = [1,2,3],[4,5,6]
print(t2)

([1, 2, 3], [4, 5, 6])

In [82]:
print(t2[0])

[1, 2, 3]

In [84]:
t2[0][0] = 7
t2

([7, 2, 3], [4, 5, 6])

In [86]:
#튜플 패키징
movie = '슈퍼맨', 1234, '배트맨', 4321
print(movie)

('슈퍼맨', 1234, '배트맨', 4321)

In [88]:
#언패킹
a,b,c,d = movie
print(a)
print(b)
print(c)
print(d)

슈퍼맨
1234
배트맨
4321

In [89]:
# 숫자 튜풀생성
tuple1 = (1, 2, 3, 4, 5)

# 문자 튜풀생성
tuple2 = ('a', 'b', 'c')

# 다양한 타입의 튜풀생성
tuple3 = (1, 'a', 'abc', [1, 2, 3, 4, 5], ['a', 'b', 'c'])

In [91]:
#tuple1[0]=6 -> 오류

In [92]:
tuple4 = 1,2,myfunc
tuple4[2]()

안녕하세요

In [96]:
#집합
myset = set((1,2,3,4))
myset

{1, 2, 3, 4}

In [98]:
myset.add(6)
myset

{1, 2, 3, 4, 6}

In [99]:
myset.add(4) #오류는 나지 않지만 삽입되지 않는다
myset

{1, 2, 3, 4, 6}

In [100]:
# 두 개의 집합을 생성
s1 = set(['python','cpython','ironpython'])
s2 = set(['python','ironpython','pypy'])

In [101]:
s3 = s1.copy()
s3

{'cpython', 'ironpython', 'python'}

In [104]:
s1.intersection(s2) #교집합

{'ironpython', 'python'}

In [105]:
s1.difference(s2) #차집합

{'cpython'}

In [106]:
s1.union(s2) #합집합

{'cpython', 'ironpython', 'pypy', 'python'}

In [107]:
s1.symmetric_difference(s2) #합집합 - 교집합

{'cpython', 'pypy'}

In [108]:
# 세 개의 집합을 생성
s1 = set([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
s2 = set([5, 10, 15, 20])
s3 = set([2, 4, 6, 8, 10])

In [109]:
s2.pop()
s2

{5, 15, 20}

In [110]:
s1.discard(3)
s1

{1, 2, 4, 5, 6, 7, 8, 9, 10}

In [112]:
s1.intersection_update(s2) #s1만 수정

print(s1)
print(s2)

{5}
{20, 5, 15}

In [113]:
s2.clear()
s2

set()

In [114]:
s1.update(s3) # 집합 s3의 모든 원소를 포함하도록 s1을 갱신
s1

{2, 4, 5, 6, 8, 10}

In [115]:
#Dictionary
myDict={}
print(myDict.values())

dict_values([])

In [116]:
myDict['one'] = 'first'
myDict['two'] = 'second'
myDict

{'one': 'first', 'two': 'second'}

In [117]:
'firstkey' in myDict

False

In [118]:
myDict['firstkey'] = 'firstval'

In [119]:
myDict.values()

dict_values(['first', 'second', 'firstval'])

In [120]:
myDict.keys()

dict_keys(['one', 'two', 'firstkey'])

In [121]:
myDict

{'one': 'first', 'two': 'second', 'firstkey': 'firstval'}

In [123]:
myDict2 = {'r_wing':'Josh','l_wing':'Frank','center':'Jim','l_defense':'Leo','r_defense':'Vic'}
print(myDict2.values())

print(myDict2.keys())
 
print(myDict2.get('r_wing')) #Josh출력
 
print(myDict2['r_wing'])  #Josh출력

dict_values(['Josh', 'Frank', 'Jim', 'Leo', 'Vic'])
dict_keys(['r_wing', 'l_wing', 'center', 'l_defense', 'r_defense'])
Josh
Josh

In [124]:
myDict2['test']

KeyError: 'test'

In [128]:
print(myDict2.get('test')) #에러는 안나지만 데이터가 없음

None

In [129]:
print(myDict2.get('test', 'key 없음'))

key 없음

In [130]:
for key, value in myDict2.items():
    print(key, value)

r_wing Josh
l_wing Frank
center Jim
l_defense Leo
r_defense Vic

In [131]:
dict1 = {'a':1, 'b':2, 'c':3}
print(dict1['a'])

1

In [135]:
dict1['a']

1

In [136]:
dict1.get('a')

1

In [137]:
dict1['d'] = 4
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [138]:
dict1['b'] = 7
dict1

{'a': 1, 'b': 7, 'c': 3, 'd': 4}

In [139]:
len(dict1)

4