In [1]:
#1
txt1 = 'A tale that was not right'
txt2 = '이 또한 지나가리라.'

In [2]:
txt1[5], txt2[-2]

('e', '라')

In [3]:
txt1[3:7], txt1[:6], txt2[-4:]

('ale ', 'A tale', '가리라.')

In [7]:
#2
txt = "python"

for i in range(len(txt)):
    print(txt[:i+1]) #0부터 1까지, 0부터 2까지.....

p
py
pyt
pyth
pytho
python

In [8]:
#3
txt = 'aAbBcCdDeEfFgGhHiIjJkK'

In [9]:
print(txt[::2])

abcdefghijk

In [10]:
print(txt[1::2])

ABCDEFGHIJK

In [11]:
txt = 'abcdefghijk'

In [18]:
print(txt[::-1])

kjihgfedcba

In [16]:
print(txt[::-2])

kigeca

In [19]:
print(txt[-2::-2])

jhfdb

In [22]:
#4
filename = input('저장할 파일 이름을 입력하세요: ')
filename = filename + '.jpg'
display_msg = '당신이 저장한 파일은 <' + filename + '> 입니다.'
display_msg

저장할 파일 이름을 입력하세요: test
당신이 저장한 파일은 <test.jpg> 입니다.

In [25]:
msg1 = '여러분'
msg2 = '파이팅'
display_msg = msg1 + ',' + msg2 * 3 + '~!'
display_msg

'여러분,파이팅파이팅파이팅~!'

In [26]:
#5
msg = input('문장입력')
if 'a' in msg:
    print('a 포함')
else:
    print('a 안포함')

문장입력I'm a student
a 포함

In [27]:
msg = input('문장입력')
if 'is' in msg:
    print('is 포함')
else:
    print('is 안포함')

문장입력my name is
is 포함

In [28]:
#6
txt1 = 'A'
txt2 = '안녕'
txt3 = 'Warcraft Three'
txt4 = '3PO'

In [32]:
txt1.isalpha()

True

In [33]:
txt2.isalpha()

True

In [34]:
txt3.isalpha()

False

In [35]:
txt4.isalpha()

False

In [36]:
txt1 = '010-1234-5678'
txt2 = 'R2D2'
txt3 = '1212'

In [37]:
txt1.isdigit()

False

In [38]:
txt2.isdigit()

False

In [39]:
txt3.isdigit()

True

In [40]:
txt1 = '안녕하세요?'
txt2 = '1. Title-제목을 넣으세요'
txt3 = '3피오R2D2'

In [41]:
txt1.isalnum()

False

In [42]:
txt2.isalnum()

False

In [43]:
txt3.isalnum()

True

In [44]:
#7
txt = '   양쪽에 공백이 있는 문자열입니다.   '

In [45]:
'<'+ txt.lstrip() + '>'

'<양쪽에 공백이 있는 문자열입니다.   >'

In [46]:
'<'+ txt.rstrip() + '>'

'<   양쪽에 공백이 있는 문자열입니다.>'

In [47]:
'<'+ txt.strip() + '>'

'<양쪽에 공백이 있는 문자열입니다.>'

In [48]:
#8
num1 = 1234
num2 = 3.14

In [51]:
print('num1을 문자열로 변환한 값은 “%s” 입니다.' %str(num1))
print('num2를 문자열로 변환한 값은 “%s” 입니다.' %str(num2))

num1을 문자열로 변환한 값은 “1234” 입니다.
num2를 문자열로 변환한 값은 “3.14” 입니다.

In [53]:
#9
txt = 'A lot of things occur each day, every day.'

In [54]:
txt.count('o')

3

In [55]:
#10
txt.find('e')

22

In [56]:
txt.find('day', 30) #string.find(value, start, end) = 30이후부터 찾아라

38

In [57]:
#11
url = 'http://www.naver.com/news/today=20160831'
log = 'name:홍길동 age:17 gender:남자 nation:한국'

In [58]:
url.split('/')

['http:', '', 'www.naver.com', 'news', 'today=20160831']

In [69]:
for data in log.split():
    print(data.split(':')[0], '->', data.split(':')[1])

name -> 홍길동
age -> 17
gender -> 남자
nation -> 한국

In [70]:
#12
loglist = ['2016/08/26 10:12:11', '200', 'OK', '이 또한 지나가리라']

In [72]:
";".join(loglist)

'2016/08/26 10:12:11;200;OK;이 또한 지나가리라'

In [73]:
#13
txt = "my password is 1234"

In [74]:
txt.replace('1','0')

'my password is 0234'

In [75]:
txt.replace('1','python')

'my password is python234'

In [76]:
txt = "매일 많은 일들이 일어납니다"

In [77]:
txt.replace('매일', '항상')

'항상 많은 일들이 일어납니다'

In [78]:
txt.replace('일','사건')

'매사건 많은 사건들이 사건어납니다'

In [79]:
#14
u_txt = 'I love python'
b_txt = u_txt.encode()

In [80]:
u_txt

'I love python'

In [81]:
b_txt #바이트 객체는 문자열 앞에 b'를 붙여 출력된다.

b'I love python'

In [82]:
print(b_txt[0])

73

In [83]:
print(b_txt[1])

32

In [84]:
ret1 = 'I' == u_txt[0]
ret2 = 'I' == b_txt[0]
ret3 = 73 == b_txt[0]
print(ret1)    # True가 출력됨
print(ret2)    # False가 출력됨
print(ret3)    # True 가 출력됨

True
False
True

In [86]:
b_txt = b'A lot of things occur each day.'
u_txt = b_txt.decode()

In [87]:
print(u_txt)

A lot of things occur each day.

In [95]:
#15
strdata = input('정렬할 문자열을 입력하세요: ')
print(sorted(strdata))

정렬할 문자열을 입력하세요:     asdadadasdasd
[' ', ' ', ' ', ' ', 'a', 'a', 'a', 'a', 'a', 'd', 'd', 'd', 'd', 'd', 's', 's', 's']

In [96]:
print(sorted(strdata, reverse=True))

['s', 's', 's', 'd', 'd', 'd', 'd', 'd', 'a', 'a', 'a', 'a', 'a', ' ', ' ', ' ', ' ']

In [97]:
'<' + "".join(sorted(strdata)) + '>'

'<    aaaaadddddsss>'

In [98]:
'<' + "".join(sorted(strdata, reverse=True)) + '>'

'<sssdddddaaaaa    >'

In [99]:
#16
listdata = [1, 2, 'a', 'b', 'c', [4, 5, 6]]

In [100]:
listdata[1]

2

In [101]:
listdata[3]

'b'

In [102]:
listdata[5][1]

5

In [13]:
solarsys = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']

In [104]:
solarsys[1:4]

['수성', '금성', '지구']

In [105]:
solarsys[4:]

['화성', '목성', '토성', '천왕성', '해왕성']

In [119]:
print(solarsys[1:4]);print(solarsys[4:])

['수성', '금성', '지구']
['화성', '목성', '토성', '천왕성', '해왕성', '지구']

In [125]:
gas_planets = solarsys[4:]
gas_planets

['화성', '목성', '토성', '천왕성', '해왕성', '지구']

In [126]:
print('태양계의 암석형 행성: ', end=''); print(gas_planets)

태양계의 암석형 행성: ['화성', '목성', '토성', '천왕성', '해왕성', '지구']

In [127]:
#17
solarsys = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성', '지구']

In [128]:
planet = '지구'
pos = solarsys.index(planet)

In [130]:
print('{}는 태양계에서 {}번째 위치하고 있다'.format(planet,pos))

지구는 태양계에서 3번째 위치하고 있다

In [131]:
pos = solarsys.index(planet, 5) #5번째 이상부터

In [132]:
print('{}는 태양계에서 {}번째 위치하고 있다'.format(planet,pos))

지구는 태양계에서 9번째 위치하고 있다

In [133]:
planet='화성'
pos = solarsys.index(planet)
solarsys[pos] = 'Mars'

In [134]:
solarsys

['태양', '수성', '금성', '지구', 'Mars', '목성', '토성', '천왕성', '해왕성', '지구']

In [146]:
#18
listdata = list(range(5))
listdata

[0, 1, 2, 3, 4]

In [139]:
listdata.reverse() #데이터 순서를 바꿔서 리스트 안에 넣어주는 것
listdata

[4, 3, 2, 1, 0]

In [148]:
ret = reversed(listdata)
print("원본데이터 : ", listdata)
print("역순데이터 : ", list(ret)) #역순된 인자를 list에 다시 넣어서 확인한다

원본데이터 :  [0, 1, 2, 3, 4]
역순데이터 :  [4, 3, 2, 1, 0]

In [149]:
listdata[::-1] #순서대로 읽어오기 때문에 데이터 자체가 바뀌진 않음

[4, 3, 2, 1, 0]

In [6]:
#19
listdata1 = ['a', 'b', 'c', 'd', 'e']
listdata2 = ['f', 'g', 'h', 'i', 'j']

In [7]:
listdata1 + listdata2

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [8]:
listdata2 + listdata1

['f', 'g', 'h', 'i', 'j', 'a', 'b', 'c', 'd', 'e']

In [9]:
listdata = list(range(3))

In [10]:
listdata * 3

[0, 1, 2, 0, 1, 2, 0, 1, 2]

In [11]:
#20
for i in range(3):
   txt = input('리스트에 추가할 값을 입력하세요[%d/3]: ' %(i+1))
   listdata.append(txt)
   print(listdata)

리스트에 추가할 값을 입력하세요[1/3]: 1
[0, 1, 2, '1']
리스트에 추가할 값을 입력하세요[2/3]: 2
[0, 1, 2, '1', '2']
리스트에 추가할 값을 입력하세요[3/3]: 3
[0, 1, 2, '1', '2', '3']

In [14]:
solarsys

['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']

In [15]:
pos = solarsys.index('목성')
solarsys.insert(pos, '소행성')
solarsys

['태양', '수성', '금성', '지구', '화성', '소행성', '목성', '토성', '천왕성', '해왕성']

In [16]:
#21
del solarsys[0]
solarsys

['수성', '금성', '지구', '화성', '소행성', '목성', '토성', '천왕성', '해왕성']

In [17]:
del solarsys[-2]
solarsys

In [19]:
del solarsys[1:3]
solarsys

['수성', '화성', '소행성', '목성', '토성', '해왕성']

In [21]:
del solarsys

In [22]:
solarsys

NameError: name 'solarsys' is not defined

In [23]:
#22
solarsys = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']

In [24]:
solarsys.remove('태양')
print(solarsys)

['수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']

In [25]:
#23
listdata = [2, 2, 1, 3, 8, 5, 7, 6, 3, 6, 2, 3, 9, 4, 4]
len(listdata)

15

In [29]:
listdata.count(2)

3

In [30]:
listdata.count(6)

2

In [31]:
#24
namelist = ['Mary', 'Sams', 'Aimy', 'Tom', 'Michale', 'Bob', 'Kelly']

In [32]:
namelist.sort() #원본이 바뀌는 것
namelist

['Aimy', 'Bob', 'Kelly', 'Mary', 'Michale', 'Sams', 'Tom']

In [33]:
ret1 = sorted(namelist)
ret2 = sorted(namelist, reverse=True)

In [35]:
print(namelist)
print(ret1)
print(ret2)

['Aimy', 'Bob', 'Kelly', 'Mary', 'Michale', 'Sams', 'Tom']
['Aimy', 'Bob', 'Kelly', 'Mary', 'Michale', 'Sams', 'Tom']
['Tom', 'Sams', 'Michale', 'Mary', 'Kelly', 'Bob', 'Aimy']

In [37]:
#25
from random import shuffle

In [38]:
listdata = list(range(1,11)) #1부터 10까지

for i in range(3): #3번 반복
    shuffle(listdata)
    print(listdata)

[9, 2, 4, 10, 7, 1, 8, 3, 6, 5]
[10, 1, 8, 3, 2, 9, 5, 7, 4, 6]
[7, 10, 1, 2, 6, 8, 4, 9, 5, 3]

In [39]:
#26
solarsys = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']

In [40]:
ret = list(enumerate(solarsys))
ret #튜플 모양

[(0, '태양'),
 (1, '수성'),
 (2, '금성'),
 (3, '지구'),
 (4, '화성'),
 (5, '목성'),
 (6, '토성'),
 (7, '천왕성'),
 (8, '해왕성')]

In [46]:
for i, body in enumerate(solarsys):
    print("태양계의 {}번째 천체: {}".format(i, body))

태양계의 0번째 천체: 태양
태양계의 1번째 천체: 수성
태양계의 2번째 천체: 금성
태양계의 3번째 천체: 지구
태양계의 4번째 천체: 화성
태양계의 5번째 천체: 목성
태양계의 6번째 천체: 토성
태양계의 7번째 천체: 천왕성
태양계의 8번째 천체: 해왕성

In [48]:
#없는 예제(질문 받아서 만든 것)
for body in ret:
    print("태양계의 {0}번째 천체: [{1}]".format(body[0], body[1])) #인자 안의 인자값

태양계의 0번째 천체: [태양]
태양계의 1번째 천체: [수성]
태양계의 2번째 천체: [금성]
태양계의 3번째 천체: [지구]
태양계의 4번째 천체: [화성]
태양계의 5번째 천체: [목성]
태양계의 6번째 천체: [토성]
태양계의 7번째 천체: [천왕성]
태양계의 8번째 천체: [해왕성]

In [42]:
listdata

[7, 10, 1, 2, 6, 8, 4, 9, 5, 3]

In [43]:
print(sum(listdata))

55

In [44]:
#27
listdata1 = [0, 1, 2, 3, 4] #0만 False 0이상 True
listdata2 = [True, True, True]
listdata3 = ['', [], (), {}, None, False]

In [49]:
all(listdata1), any(listdata1)

(False, True)

In [50]:
all(listdata2), any(listdata2)

(True, True)

In [52]:
#28
solar1 = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
solar2 = ['Sun', 'Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [53]:
solardict = {}

In [54]:
for i, k in enumerate(solar1): #튜플 형식
    var = solar2[i]
    solardict[k] = var

In [55]:
solardict

{'태양': 'Sun',
 '수성': 'Mercury',
 '금성': 'Venus',
 '지구': 'Earth',
 '화성': 'Mars',
 '목성': 'Jupiter',
 '토성': 'Saturn',
 '천왕성': 'Uranus',
 '해왕성': 'Neptune'}

In [56]:
#29
names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 'Michale':27115, 'Bob':5887, 'Kelly':7855} #{아기이름:출생아 수}

In [57]:
names['Aimy'] = 10000
print(names)

{'Mary': 10999, 'Sams': 2111, 'Aimy': 10000, 'Tom': 20245, 'Michale': 27115, 'Bob': 5887, 'Kelly': 7855}

In [58]:
#30
del names["Sams"]
names

{'Mary': 10999,
 'Aimy': 10000,
 'Tom': 20245,
 'Michale': 27115,
 'Bob': 5887,
 'Kelly': 7855}

In [59]:
names.clear()
names

{}

In [60]:
#31
names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245,'Michale':27115, 'Bob':5887, 'Kelly':7855}

In [61]:
names.keys()

dict_keys(['Mary', 'Sams', 'Aimy', 'Tom', 'Michale', 'Bob', 'Kelly'])

In [62]:
names.values()

dict_values([10999, 2111, 9778, 20245, 27115, 5887, 7855])

In [63]:
for k in names: #하나의 변수에 담으면 key값만 갖고와서 이렇게 써도 됨
    print("Key: {} \tValue:{}".format(k, names[k]))

Key: Mary 	Value:10999
Key: Sams 	Value:2111
Key: Aimy 	Value:9778
Key: Tom 	Value:20245
Key: Michale 	Value:27115
Key: Bob 	Value:5887
Key: Kelly 	Value:7855

In [68]:
print("출생아수 총계 : {}".format(sum(names.values())))

출생아수 총계 : 83990

In [71]:
#32
names.items()

dict_items([('Mary', 10999), ('Sams', 2111), ('Aimy', 9778), ('Tom', 20245), ('Michale', 27115), ('Bob', 5887), ('Kelly', 7855)])

In [73]:
#33
names

{'Mary': 10999,
 'Sams': 2111,
 'Aimy': 9778,
 'Tom': 20245,
 'Michale': 27115,
 'Bob': 5887,
 'Kelly': 7855}

In [79]:
k = input('이름을 입력하시오')

이름을 입력하시오Mary

In [80]:
if k in names:
    print('이름이 {}인 출생아수는 {}입니다.'.format(k, names[k]))
else:
    print('자료에 {}인 이름이 존재하지 않습니다.'.format(k))

이름이 Mary인 출생아수는 10999입니다.

In [86]:
#34
ret1 = sorted(names.values())
print(ret1)

[2111, 5887, 7855, 9778, 10999, 20245, 27115]

In [87]:
#35
def f1(x):
   return x[0] #names.items()결과에서 키만 리턴
 
def f2(x):
   return x[1] #names.items()결과에서 값만 리턴

In [95]:
ret2 = sorted(names.items(), key = f2, reverse=True) #값을 기준으로 오름차순으로 정렬
ret2

[('Michale', 27115),
 ('Tom', 20245),
 ('Mary', 10999),
 ('Aimy', 9778),
 ('Kelly', 7855),
 ('Bob', 5887),
 ('Sams', 2111)]

In [100]:
#36
ch = input('문자 1개를 입력하세요 : ')
if len(ch) != 0:
    ch = ch[0]
    chv = ord(ch)
    print('문자 : {} \t코드값 : {}[{}]'.format(ch, chv, hex(chv)))

문자 1개를 입력하세요 : 김
문자 : 김 	코드값 : 44608[0xae40]

In [138]:
ch = input('문자 코드값을 입력하세요 : ')
try:
    val = int(ch)
    ch = chr(val)
    print('코드값 : {}[{}], 문자 : {}'.format(val, hex(val), ch))
except ValueError:
    print('입력한 {}에 대한 문자는 존재하지 않습니다.'.format(val))

문자 코드값을 입력하세요 : !
입력한 1에 대한 문자는 존재하지 않습니다.

In [122]:
#37
expr1 = '2+3'
expr2 = 'round(3.7)'

In [123]:
ret1 = eval(expr1)
ret2 = eval(expr2)

In [129]:
print("[{}] 를 eval()로 실행한 결과 : {}".format(expr1, ret1))

[2+3] 를 eval()로 실행한 결과 : 5

In [130]:
print("[{}] 를 eval()로 실행한 결과 : {}".format(expr2, ret2))

[round(3.7)] 를 eval()로 실행한 결과 : 4

In [1]:
#38
add = lambda x, y : x + y

In [2]:
ret = add(1,4)
print(ret)

5

In [3]:
funcs = [lambda x:x + '.pptx', lambda x:x + '.docx'] #list

In [5]:
ret1 = funcs[0]('intro') #괄호 열면 함수 호출
print(ret1)

intro.pptx

In [7]:
ret2 = funcs[1]('Report')
print(ret2)

Report.docx

In [8]:
#39
names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 'Michale':27115,
          'Bob':5887, 'Kelly':7855}

In [10]:
ret3 = sorted(names.items(), key=lambda x: x[0]) #x는 names의 items 키값
print(ret3)

[('Aimy', 9778), ('Bob', 5887), ('Kelly', 7855), ('Mary', 10999), ('Michale', 27115), ('Sams', 2111), ('Tom', 20245)]

In [14]:
#40
f = lambda x: x * x
args = [1,2,3,4]
ret = map(f, args)
print(list(ret)) #맵 객체를 리스트로 변형해서 출력

[1, 4, 9, 16]

In [15]:
#41
f = lambda x, y : x * x + y
X = [1,2,3,4,5]
Y = [10,9,8,7,6]
ret = map(f, X, Y)
print(list(ret))

[11, 13, 17, 23, 31]

In [16]:
[*map(f, X, Y)]

[11, 13, 17, 23, 31]